# This file represents the baseline of the mysqld_multi configuration used in PyCamps

[mysqld_multi]

mysqld = /usr/bin/mysqld_safe
mysqladmin = /usr/bin/mysqladmin

#######################################################################
# The declaration below defines the 'campmaster' MySQL server
# All camps clone this database when using 'pycamps refresh db'
# Altering the information below is allowed, but can cause issues
# if changed after PyCamps has been initialized.  
# CHANGE THINGS AT A RISK OF YOUR PERIL AND DEATH!!!
#######################################################################

[mysqld0]
datadir = /var/lib/mysql/campmaster
socket = /var/lib/mysql/campmaster/mysql.sock
pid-file = /var/run/mysqld/campmaster.pid
user = mysql
port = 3300
log-error=/var/log/mysql.log

#### DO NOT ALTER BEYOND THIS LINE ##########

###############################################
# UNLESS YOU REALLY KNOW WHAT YOU ARE DOING
# THE RISK IS ALL YOURS AND YOU COULD EXPLODE!
# BEWARE, THE UNIVERSE IS WATCHING YOU!!!
###############################################

